<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shakouricalculator">

    <application
        android:allowBackup="true"
        android:label="shakouri calculator"
        android:theme="@style/Theme.ShakouriCalculator">
        <activity android:name=".LcmGcdActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
